<p>Hey <%= name %>,</p>
<p>Thanks for Registering. We're very excited to have you on board.</p>
<p>Here is your Ticket ID:</p>
<p style="padding: 20px; background-color: black; color: #fff"><%= id %></p>
<p>
  Cheers,<br />
  The Team
</p>
